Location-Scout-master/LocationScoutApp/Service References/WeatherServiceRef/WeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar14.fulton.asu.edu/Page1/WeatherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar14.fulton.asu.edu/Page1/WeatherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherService_get_maxTempData_InputMessage">
    <wsdl:part name="parameters" element="tns:get_maxTempData" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_get_maxTempData_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_maxTempDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_get_minTempData_InputMessage">
    <wsdl:part name="parameters" element="tns:get_minTempData" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_get_minTempData_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_minTempDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_get_rainFallData_InputMessage">
    <wsdl:part name="parameters" element="tns:get_rainFallData" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_get_rainFallData_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_rainFallDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherService">
    <wsdl:operation name="get_maxTempData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/get_maxTempData" message="tns:IWeatherService_get_maxTempData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/get_maxTempDataResponse" message="tns:IWeatherService_get_maxTempData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_minTempData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/get_minTempData" message="tns:IWeatherService_get_minTempData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/get_minTempDataResponse" message="tns:IWeatherService_get_minTempData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_rainFallData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/get_rainFallData" message="tns:IWeatherService_get_rainFallData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/get_rainFallDataResponse" message="tns:IWeatherService_get_rainFallData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeatherService" type="tns:IWeatherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_maxTempData">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/get_maxTempData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_minTempData">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/get_minTempData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_rainFallData">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/get_rainFallData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="BasicHttpBinding_IWeatherService" binding="tns:BasicHttpBinding_IWeatherService">
      <soap:address location="http://webstrar14.fulton.asu.edu/Page1/WeatherService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>