Location-Scout-master/LocationScoutApp/Service References/NewsServiceRef/NewsDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar14.fulton.asu.edu/Page1/NewsDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar14.fulton.asu.edu/Page1/NewsDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar14.fulton.asu.edu/Page1/NewsDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LocationScout" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsDataService_getNewsDataXML_InputMessage">
    <wsdl:part name="parameters" element="tns:getNewsDataXML" />
  </wsdl:message>
  <wsdl:message name="INewsDataService_getNewsDataXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNewsDataXMLResponse" />
  </wsdl:message>
  <wsdl:message name="INewsDataService_getNewsDataJSON_InputMessage">
    <wsdl:part name="parameters" element="tns:getNewsDataJSON" />
  </wsdl:message>
  <wsdl:message name="INewsDataService_getNewsDataJSON_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNewsDataJSONResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsDataService">
    <wsdl:operation name="getNewsDataXML">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsDataService/getNewsDataXML" message="tns:INewsDataService_getNewsDataXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsDataService/getNewsDataXMLResponse" message="tns:INewsDataService_getNewsDataXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNewsDataJSON">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsDataService/getNewsDataJSON" message="tns:INewsDataService_getNewsDataJSON_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsDataService/getNewsDataJSONResponse" message="tns:INewsDataService_getNewsDataJSON_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsDataService" type="tns:INewsDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getNewsDataXML">
      <soap:operation soapAction="http://tempuri.org/INewsDataService/getNewsDataXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewsDataJSON">
      <soap:operation soapAction="http://tempuri.org/INewsDataService/getNewsDataJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsDataService">
    <wsdl:port name="BasicHttpBinding_INewsDataService" binding="tns:BasicHttpBinding_INewsDataService">
      <soap:address location="http://webstrar14.fulton.asu.edu/Page1/NewsDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>