Location-Scout-master/LocationScoutApp/Service References/NewsServiceRef/NewsDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar14.fulton.asu.edu/Page1/NewsDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LocationScout" />
  <xs:element name="getNewsDataXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNewsDataXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LocationScout" minOccurs="0" name="getNewsDataXMLResult" nillable="true" type="q1:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNewsDataJSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNewsDataJSONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LocationScout" minOccurs="0" name="getNewsDataJSONResult" nillable="true" type="q2:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>