Location-Scout-master/LocationScoutApp/Service References/LocationServiceRef/LocationServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocationServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar14.fulton.asu.edu/Page0/LocationServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar14.fulton.asu.edu/Page0/LocationServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocationServices_getSolarIntensity_InputMessage">
    <wsdl:part name="parameters" element="tns:getSolarIntensity" />
  </wsdl:message>
  <wsdl:message name="ILocationServices_getSolarIntensity_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSolarIntensityResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationServices_getWindIntensity_InputMessage">
    <wsdl:part name="parameters" element="tns:getWindIntensity" />
  </wsdl:message>
  <wsdl:message name="ILocationServices_getWindIntensity_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWindIntensityResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationServices_getLatLonByZipCode_InputMessage">
    <wsdl:part name="parameters" element="tns:getLatLonByZipCode" />
  </wsdl:message>
  <wsdl:message name="ILocationServices_getLatLonByZipCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLatLonByZipCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationServices_findNearestStore_InputMessage">
    <wsdl:part name="parameters" element="tns:findNearestStore" />
  </wsdl:message>
  <wsdl:message name="ILocationServices_findNearestStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:findNearestStoreResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocationServices">
    <wsdl:operation name="getSolarIntensity">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationServices/getSolarIntensity" message="tns:ILocationServices_getSolarIntensity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationServices/getSolarIntensityResponse" message="tns:ILocationServices_getSolarIntensity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWindIntensity">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationServices/getWindIntensity" message="tns:ILocationServices_getWindIntensity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationServices/getWindIntensityResponse" message="tns:ILocationServices_getWindIntensity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLatLonByZipCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationServices/getLatLonByZipCode" message="tns:ILocationServices_getLatLonByZipCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationServices/getLatLonByZipCodeResponse" message="tns:ILocationServices_getLatLonByZipCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findNearestStore">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationServices/findNearestStore" message="tns:ILocationServices_findNearestStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationServices/findNearestStoreResponse" message="tns:ILocationServices_findNearestStore_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILocationServices" type="tns:ILocationServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSolarIntensity">
      <soap:operation soapAction="http://tempuri.org/ILocationServices/getSolarIntensity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWindIntensity">
      <soap:operation soapAction="http://tempuri.org/ILocationServices/getWindIntensity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatLonByZipCode">
      <soap:operation soapAction="http://tempuri.org/ILocationServices/getLatLonByZipCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findNearestStore">
      <soap:operation soapAction="http://tempuri.org/ILocationServices/findNearestStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationServices">
    <wsdl:port name="BasicHttpBinding_ILocationServices" binding="tns:BasicHttpBinding_ILocationServices">
      <soap:address location="http://webstrar14.fulton.asu.edu/Page0/LocationServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>