Location-Scout-master/LocationScoutApp/Service References/LocationServiceRef/LocationServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getSolarIntensity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
        <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSolarIntensityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSolarIntensityResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWindIntensity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
        <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWindIntensityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getWindIntensityResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLatLonByZipCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLatLonByZipCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLatLonByZipCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findNearestStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipOrCityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findNearestStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findNearestStoreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>