Location-Scout-master/LocationScoutApp/Service References/QuakeServiceRef/QuakeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getQuakeIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat" type="xs:decimal" />
        <xs:element minOccurs="0" name="lon" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuakeIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getQuakeIndexResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>